{% extends "templates/base.html" %}

{% block content %}
<div class="jumbotron">
    <h1>Your bookmark list is here.</h1>
</div>

<div class="row-fluid">
  <form action="/bookmark/save" method="POST">
    <p>
       URL: 
       <input type="text" name="url" value="" size="100">
       <input type="submit" value="登録">
    </p>
  </form>
</div>

<div class="row-fluid">
    <div class="span8">
       {% for item in bookmarks %}
        <li>
          <p>{{item.url}}</p> 
        </li>
       {% endfor %}
    </div>
</div>
{% endblock %}

{% block page-scripts %}
    <script src="http://fb.me/react-0.11.0.min.js"></script>
    {% if dev %}
        <script src="/js/goog/base.js" type="text/javascript"></script>
        <script src="/js/app.js" type="text/javascript"></script>
        <script type="text/javascript">goog.require("item_bookmark.core");</script>
    {% else %}
        <script src="/js/app.js" type="text/javascript"></script>
    {% endif %}
{% endblock %}
